@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --background-light: #f1f1f1;
  --background-dark: #1f1f1f;
  --color-gradient-start: #9796f0;
  --color-gradient-end: #fbc7d4;
  --color-text: #f1f1f1;
  --color-highlight: rgb(31, 41, 55);
  --color-icons: rgb(75, 85, 99);
  --color-button: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background-light);
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

.main {
  padding-left: 40px;
  padding-right: 40px;
}

.main-section {
  height: 100vh;
}

.navbar {
  padding: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar h1 {
  font-size: 20px;
  line-height: 28px;
}

.darkmode-icon {
  cursor: pointer;
  font-size: 24px;
  line-height: 32px;
}

.resume-button {
  text-decoration: none;
  color: var(--color-text);
  background-image: linear-gradient(
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
  padding: 8px 16px;
  border-radius: 6px;
  margin-left: 32px;
  transition: all 0.5s ease;
}

.resume-button:hover {
  transform: scale(1.1);
}

.about-section {
  padding: 40px 40px;
  text-align: center;
}

.about-name-h2 {
  font-size: 48px;
  line-height: 1;
  padding: 0.5rem 0;
  font-weight: 500;
  background: -webkit-linear-gradient(
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-name-h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.5rem 0;
}

.about-text {
  padding: 1.25rem 0;
  line-height: 2rem;
  color: var(--color-highlight);
}

.about-icons {
  font-size: 3rem;
  line-height: 1;
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 0.75rem 0;
  color: var(--color-icons);
}

.profile-image-section {
  position: relative;
}

.linkedin-icon,
.github-icon {
  transition: all 0.5s ease;
}

.linkedin-icon:hover,
.github-icon:hover {
  transform: scale(1.1);
}

.profile-img {
  height: 330px;
  width: 300px;
  margin: 0 auto;
}

.projects {
  padding: 40px;
}

.projects-h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 0.25rem 0;
}

.projects-text {
  padding: 0.5rem 0;
  line-height: 1.75rem;
  color: var(--color-highlight);
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.project img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s ease;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(
    var(--color-gradient-start),
    rgba(151, 150, 240, 0.5)
  );
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s ease;
}

.project:hover img {
  transform: scale(1.1);
}

.layer h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.5rem 0;
  color: var(--color-text);
}

.layer a {
  text-decoration: none;
  color: var(--color-gradient-start);
  background-color: var(--color-button);
  padding: 8px 16px;
  border-radius: 50px;
  margin-top: 16px;
  font-size: 18px;
}

.project:hover .layer {
  height: 100%;
}

.footer {
  font-size: small;
  padding: 80px 40px 40px;
  text-align: center;
}
